*{
    padding:0 0;
    margin:0 0;
}
html,body{
    height:100%;
    width:100%;
}
.root{
    height:100%;
    width:100%;
    background-size:100% 100%;
    user-select: none;
    background-image:url('../images/index.jpeg');
}

.root-calculator-container{
    height:40vh;
    width:15%;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    border-radius:2px;
}

.root-calculator-container-grade-select{
    padding-top:2vh;
    margin-bottom:1vh;
    text-align:center;
    font-size:5vh;
    color:white;
}

.root-calculator-container-grade-three{
    height:7vh;
    text-align:center;
    display:block;
    color:white;
    font-size:3vh;
}

.root-calculator-container-grade-four{
    height:7vh;
    color:white;
    display:block;
    font-size: 3vh;
    text-align: center;
}

.root-calculator-container-grade-five{
    font-size:3vh;
    height:7vh;
    text-align: center;
    color:white;
    display:block;
}

.root-calculator-container-grade-three:hover{
    transform:scale(1.2);
    transition:100ms;
    cursor:pointer;
}

.root-calculator-container-grade-four:hover{
    transform:scale(1.2);
    transition:100ms;
    cursor:pointer;
}

.root-calculator-container-grade-five:hover{
    transform:scale(1.2);
    transition:100ms;
    cursor:pointer;
}

.arithmetic-select-container{
    height:100%;
    width:100%;
    user-select: none;
    background-size:100% 100%;
    background-image:url('../images/threeselect.jpeg');
}

.arithmetic-select{
    height:40vh;
    width:15%;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    border-radius:2px;
}

.integer-arithmetic{
    padding-top:4vh;
    font-size:3vh;
    height:7vh;
    text-align: center;
    color:white;
    display:block;
}

.fraction-arithmetic{
    font-size:3vh;
    height:7vh;
    text-align: center;
    color:white;
    display:block;
}

.decimal-arithmetic{
    font-size:3vh;
    height:7vh;
    text-align: center;
    color:white;
    display:block;
}

.comprehensive-test{
    font-size:3vh;
    height:7vh;
    text-align: center;
    color:white;
    display:block;
}

.integer-arithmetic:hover{
    cursor:pointer;
    transform:scale(1.2);
    transition:100ms;
}

.fraction-arithmetic:hover{
    cursor:pointer;
    transform:scale(1.2);
    transition:100ms;
}

.decimal-arithmetic:hover{
    cursor:pointer;
    transform:scale(1.2);
    transition:100ms;
}

.comprehensive-test:hover{
    cursor:pointer;
    transform:scale(1.2);
    transition:100ms;
}