*{
    padding:0 0;
    margin:0 0;
}
html,body{
    height:100%;
    width:100%;
}
.root{
    height:100%;
    width:100%;
    background-size:100% 100%;
    user-select: none;
    background-image:url('../images/index.jpeg');
}

.root-calculator-container{
    position:relative;
    height:45vh;
    width:20vm;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:rgba(0,0,0,0.7);
    border-radius:2px;
}

.root-calculator-container-grade-three{
    background-color:red;
    position:relative;
    height:7vh;
    display:block;
}

.root-calculator-container-grade-four{
    background-color:green;
    position:relative;
    height:7vh;
    display:block;
}

.root-calculator-container-grade-five{
    background-color:yellow;
    position:relative;
    height:7vh;
    display:block;
}
