<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算题</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body style="margin:0 0;padding:0 0;">
    <div id="root" class="root">
        <div id="root-calculator-container" class="root-calculator-containeer">
            <div id="root-calculator-container-grade-three" class="root-calculator-container-grade-three">
                <p>三年级</p>
            </div>
            <div id="root-calculator-container-grade-four" class="root-calculator-container-grade-four">
                <p>四年级</p>
            </div>
            <div id="root-calculator-container-grade-five" class="root-calculator-container-grade-five">
                <p>五年级</p>
            </div>
        </div>
    </div>
</body>
</html>